
[bumpversion]
current_version = 0.1
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)
serialize = {major}.{minor}

[bumpversion:file:setup.py]

[bumpversion:file:docs/source/conf.py]

[bumpversion:file:CMakeLists.txt]
search = project(sqsgenerator VERSION {current_version})
replace = project(sqsgenerator VERSION {new_version})