.affiliation {
    object-fit: contain;
    height: 75px;
    width: auto;
    padding: 8px;
}

.highlight-json.runbutton {
    position: relative;
}

.highlight-json.runbutton .run-in-webapp-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0px;
    background-color: #3883fa;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.menu-button:hover {
    background-color: #599bff;
}

.menu-button i {
    color: white;
    font-size: 24px;
}
